body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size: 40px;
}
h1{ 
    color: crimson;
     font-size: 50px;
}

.container{
    display: flex;
}
.header-part{
   position: relative;
   height:150px;
   width: 300px;
   }
.first{
    position: relative;
    height: 200px;
    width: 500px;
    top: 200px;
    left: 70px;
    
 }  
 .peter{
    position: relative;
    height:200px;
    width:200px;   
    top:180px;
    bottom: 100px;
    left: 400px;
    right: 100px;
}
.peter1{
    width: 250%;
}
.link{
    text-decoration: none;
    color: white;
    padding: 40px,50px;
    background-image: linear-gradient(46deg,crimson, rgb(96, 0, 185));
    font-size:25px;
    border-radius: 5px;
}
.container1{
    display:flex;
}
.bg{
    position: relative;
    height:100px;
    width: 400px;
    top: 800px;
}
.biography{
    position: relative;
    height:400px;
    width:300px;   
    top:1200px;
    left: 800px;
    right: 100px;
}
.peter2{
    position: relative;
    height: 200px;
    width: 200px;
    top: 1000px;
    left:;
    right:300px;
}
.peter3{
    width: 230%;
}
.latest{
    position: relative;
    height:100px;
    width: 400px;
    top: 1250px;
}
.lw{
    color: black;
    text-align: center;
    position: relative;
    left: 800px;
    top: 220px;
}
.w1{
    position: relative;
    height:200px;
    width: 200px;
    top: 1600px;
    left: 350px;
}
.wp1{
    width: 200%;
}
.w2{
    position: relative;
    height:200px;
    width: 200px;
    top: 1400px;
    left: 800px;
}
.wp2{
    width: 200%;}
.w3{
        position: relative;
        height:200px;
        width: 200px;
        top: 1200px;
        left: 1250px;
    }
.wp3{
        width: 200%;}
.foot{
            position: relative;
            height:100px;
            width: 200px;
            top: 1400px;
        }
 .lf{
    color: black;
    text-align: center;
    position: relative;
    left: 40px;
    top: 1400px;
}
.f2{
    position: relative;
    height: 400px;
    width: 400px;
    left: 850px;
   top: 1450px;
   text-align: center;
}
.f3{
    position: relative;
    height: 400px;
    width: 500px;
    left: 950px;
   top: 1450px;

}
.footer{ 
    position: relative;
    height: 500x;
    width: 500px;
    top: 1500px;
    left:870px ;
}
   


